# IMPORT TRAFFIC PLANNING NAD BERTH CALCULATION

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [2]:
import_df = pd.read_csv(r'C:\Users\DEBARGHA SEN\Desktop\ROYAL HUSKONING\PLANNING\import traffic..csv' , index_col = 'Sl. No.')

In [3]:
import_df = import_df.dropna()

In [4]:
import_df.columns = [['Type' , 'traffic']]

In [5]:
import_df

              Type traffic
Sl. No.
1             Coal    11.5
2        Limestone     3.5
3         Dolomite     1.0
4           Gypsum     0.5
5          Clinker     6.5

In [6]:
import_df['Type'].iloc[0]

Type    Coal
Name: 1, dtype: object

# STORAGE TYPE AND CAPACITY CALCULATION

## Type of storage input

In [7]:
a = str(input('What type of storage device you want for {} is:-'.format(import_df['Type'].iloc[0])))
b = str(input('What type of storage device you want for {} is:-'.format(import_df['Type'].iloc[1])))
c = str(input('What type of storage device you want for {} is:-'.format(import_df['Type'].iloc[2])))
d = str(input('What type of storage device you want for {} is:-'.format(import_df['Type'].iloc[3])))
e = str(input('What type of storage device you want for {} is:-'.format(import_df['Type'].iloc[4])))

What type of storage device you want for Type    Coal
Name: 1, dtype: object is:-stock piles
What type of storage device you want for Type    Limestone
Name: 2, dtype: object is:-dome
What type of storage device you want for Type    Dolomite
Name: 3, dtype: object is:-silos
What type of storage device you want for Type    Gypsum
Name: 4, dtype: object is:-silos
What type of storage device you want for Type    Clinker
Name: 5, dtype: object is:-silos

## dwell time required for each and every type of traffic

In [8]:
e = int(input('dweel time required for {} is:-'.format(import_df['Type'].iloc[0])))
f = int(input('dweel time required for {} is:-'.format(import_df['Type'].iloc[1])))
g = int(input('dweel time required for {} is:-'.format(import_df['Type'].iloc[2])))
h = int(input('dweel time required for {} is:-'.format(import_df['Type'].iloc[3])))
i = int(input('dweel time required for {} is:-'.format(import_df['Type'].iloc[4])))

dweel time required for Type    Coal
Name: 1, dtype: object is:-30
dweel time required for Type    Limestone
Name: 2, dtype: object is:-30
dweel time required for Type    Dolomite
Name: 3, dtype: object is:-30
dweel time required for Type    Gypsum
Name: 4, dtype: object is:-30
dweel time required for Type    Clinker
Name: 5, dtype: object is:-15

## Specific geavity input

In [9]:
o = float(input('the specific gravity of {} is:-' .format(import_df['Type'].iloc[0])))
p = float(input('the specific gravity of {} is:-' .format(import_df['Type'].iloc[1])))
q = float(input('the specific gravity of {} is:-' .format(import_df['Type'].iloc[2])))
r = float(input('the specific gravity of {} is:-' .format(import_df['Type'].iloc[3])))
s = float(input('the specific gravity of {} is:-' .format(import_df['Type'].iloc[4])))

the specific gravity of Type    Coal
Name: 1, dtype: object is:-0.8
the specific gravity of Type    Limestone
Name: 2, dtype: object is:-1.5
the specific gravity of Type    Dolomite
Name: 3, dtype: object is:-2.85
the specific gravity of Type    Gypsum
Name: 4, dtype: object is:-2.3
the specific gravity of Type    Clinker
Name: 5, dtype: object is:-1.5

## storage required for dwell time in mM^3

In [10]:
j = import_df['traffic'].iloc[0]*e/(350*o)
print('the traffic to be handeled in the dwell time for{} is:-' . format(import_df['Type'].iloc[0]) , j)
k = import_df['traffic'].iloc[1]*f/(350*p)
print('the traffic to be handeled in the dwell time for{} is:-' . format(import_df['Type'].iloc[1]) , k)
l = import_df['traffic'].iloc[2]*g/(350*q)
print('the traffic to be handeled in the dwell time for{} is:-' . format(import_df['Type'].iloc[2]) , l)
m = import_df['traffic'].iloc[3]*h/(350*r)
print('the traffic to be handeled in the dwell time for{} is:-' . format(import_df['Type'].iloc[3]) , m)
n = import_df['traffic'].iloc[4]*i/(350*s)
print('the traffic to be handeled in the dwell time for{} is:-' . format(import_df['Type'].iloc[4]) , n)

the traffic to be handeled in the dwell time forType    Coal
Name: 1, dtype: object is:- traffic    1.232143
Name: 1, dtype: float64
the traffic to be handeled in the dwell time forType    Limestone
Name: 2, dtype: object is:- traffic    0.2
Name: 2, dtype: float64
the traffic to be handeled in the dwell time forType    Dolomite
Name: 3, dtype: object is:- traffic    0.030075
Name: 3, dtype: float64
the traffic to be handeled in the dwell time forType    Gypsum
Name: 4, dtype: object is:- traffic    0.018634
Name: 4, dtype: float64
the traffic to be handeled in the dwell time forType    Clinker
Name: 5, dtype: object is:- traffic    0.185714
Name: 5, dtype: float64

##  Stockpiles volume in mM^3

In [11]:
t1 = float(input('Enter stockpile base width:-'))
t2 = float(input('Enter stockpile top width:-'))
t3 = float(input('Enter area of one triangular wedge:-'))
t4 = float(input('Enter height of cone for 4 corner of stoc pile:-'))
t5 = float(input('Enter dia of cone:-'))
t6 = float(input('Enter stockpile length:-'))
t7 = (np.round((((0.5*(t1+t2)*t4*t6)+(t3*5)+((np.pi)*(t5)*(t5)*0.25*t4/3))),2))/1000000
print('the volume of 1 stock pile:- ' , t7)

Enter stockpile base width:-50
Enter stockpile top width:-15
Enter area of one triangular wedge:-500
Enter height of cone for 4 corner of stoc pile:-10
Enter dia of cone:-100
Enter stockpile length:-1500
the volume of 1 stock pile:-  0.51617994

##  Silos volume in mM^3

In [12]:
u1 = float(input('Enter silos dia:-'))
u2 = float(input('Enter silos cylindrical portion height:-'))
u3 = float(input('Enter silos conical portion height:-'))
u4 = (np.round((((np.pi)*u1*u1*0.25*u2)+((np.pi) * u2*u2*0.25*u3/3)),2))/1000000
print('the volume of 1 silos is:- ' , u4)

Enter silos dia:-25
Enter silos cylindrical portion height:-80
Enter silos conical portion height:-30
the volume of 1 silos is:-  0.08953538999999999

##  Limestone Dome volume in mM^3

In [21]:
v1 = float(input('Enter dome dia:-'))
v2 = float(input('Enter dome height:-'))
v3 = (np.round((2/3)*(np.pi)*(v1*v1*v1*0.5*0.5*0.5),2))/1000000
print('the volume of limestone dome is :- ' , v3)

Enter dome dia:-80
Enter dome height:-30
the volume of limestone dome is :-  0.13404129

# Number of storage device required

## number of stock piles required for given dwell time

In [15]:
w = math.ceil((j/t7))
print('The number of stock piles is required :-' , w)

The number of stock piles is required :- 3

## number of silos required for dolomite at given dwell time

In [17]:
x = math.ceil((l/u4))
print('the number of silos required for dolomite' , x)

the number of silos required for dolomite 1

## number of silos required for clinker at given dwell time

In [18]:
y = math.ceil((n/u4))
print('the number of silos required for clinker' , y)

the number of silos required for clinker 3

## number of silos required for gypsum at given dwell time

In [19]:
z = math.ceil((m/u4))
print('the number of silos for gypsum' , z)

the number of silos for gypsum 1

## number of Dome required for given dwell time

In [22]:
a1 = math.ceil((k/v3))
print('the number of limestone dome required is:- ' , a1)

the number of limestone dome required is:-  2

# Berth Requirement

## no. of berth for all the traffic

### anual traffic for all the traffic

In [23]:
df = pd.read_csv(r'C:\Users\DEBARGHA SEN\Desktop\jose portila\wifi password\import measure.csv')

In [24]:
df = df.drop(['Unnamed: 2' , 'Unnamed: 3' , 'Unnamed: 4' , 'Unnamed: 5' , 'Unnamed: 6' , 'Unnamed: 7' , 'Unnamed: 8' , 'Unnamed: 9' , 'Unnamed: 10'] , axis = 1)

In [25]:
df.head()

     TRAFFIC       MTPA
0       coal  12.294666
1   dolomite  11.442774
2     gypsum  11.442774
3    clinker  11.442774
4  limestone  11.442774

In [27]:
a2 = math.ceil(import_df['traffic'].iloc[0] / df['MTPA'][0])
print('the no. of berth required for coal is:- ' , a2)
a3 = math.ceil(import_df['traffic'].iloc[2] / df['MTPA'][1])
print('the no. of berth required for dolomite is:- ' , a3)
a4 = math.ceil(import_df['traffic'].iloc[3] / df['MTPA'][2])
print('the no. of berth required for gypsum is:- ' , a4)
a5 = math.ceil(import_df['traffic'].iloc[4] / df['MTPA'][3])
print('the no. of berth required for clinker is:- ' , a5)
a6 = math.ceil(import_df['traffic'].iloc[2] / df['MTPA'][4])
print('the no. of berth required for limestone is:- ' , a6)

the no. of berth required for coal is:-  1
the no. of berth required for dolomite is:-  1
the no. of berth required for gypsum is:-  1
the no. of berth required for clinker is:-  1
the no. of berth required for limestone is:-  1

# EXPORT TRAFFIC PLANNING AND BERTH CALCULATION

In [28]:
export_df = pd.read_csv(r'C:\Users\DEBARGHA SEN\Desktop\ROYAL HUSKONING\PLANNING\export traffic.csv' , index_col = 'EXPORT')

In [29]:
export_df.columns = [[ 'Product' , 'Traffic']]

In [30]:
export_df.head()

                        Product Traffic
EXPORT
1       Finished Steel Products      10
2                       Pellets      10
3                        Cement       6

## Type of Storage For export traffic

In [31]:
aaa = input(str('The type of storage requred for {} traffic is:-' .format(export_df['Product'] . iloc[0])))
bbb = input(str('The type of storage required for {} traffic is :- ' .format(export_df['Product'] . iloc[1]))) 
ccc = input(str('the type of storage required for {} traffic is :-' .format(export_df['Product'].iloc[2])))

The type of storage requred for Product    Finished Steel Products
Name: 1, dtype: object traffic is:-shaded storage
The type of storage required for Product    Pellets
Name: 2, dtype: object traffic is :- silos
the type of storage required for Product    Cement
Name: 3, dtype: object traffic is :-silos

## Dwell time required for every traffic

In [43]:
ddd = int(input('Dwell time required for {} traffic is:-' .format(export_df['Product'].iloc[0])))
eee = int(input('Dwell time required for {} traffic is :- ' .format(export_df['Product'].iloc[1])))
fff = int(input('Dwell Time required for {} traffic is :-'.format(export_df['Product'].iloc[2])))

Dwell time required for Product    Finished Steel Products
Name: 1, dtype: object traffic is:-15
Dwell time required for Product    Pellets
Name: 2, dtype: object traffic is :- 15
Dwell Time required for Product    Cement
Name: 3, dtype: object traffic is :-30

# Silos volume calculation

In [45]:
ggg = int(input('Enter the silos dia:-'))
hhh = int(input('Enter the silos height:-'))
iii = int(input('Enter the cone height:-'))
jjj = (((np.pi)*(ggg*ggg/4)*hhh) + ((1/3)*(np.pi)*(ggg*ggg/4)*iii))/1000000
print('The volume of one silos is :-' , jjj)

Enter the silos dia:-50
Enter the silos height:-80
Enter the cone height:-30
The volume of one silos is :- 0.1767145867644259

# calculated traffic for every dwell time

In [46]:
kkk = (export_df['Traffic'].iloc[0]*ddd/350)
print('the dwell time traffic for {} is:-' .format(export_df['Product'].iloc[0]) , kkk)
lll = (export_df['Traffic'].iloc[1]*eee/350)
print('the dwell time traffic for {} is:-' .format(export_df['Product'].iloc[1]) , lll)
mmm = (export_df['Traffic'].iloc[2]*fff/350)
print('the dwell time traffic for {} is:-' .format(export_df['Product'].iloc[2]) , mmm)

the dwell time traffic for Product    Finished Steel Products
Name: 1, dtype: object is:- Traffic    0.428571
Name: 1, dtype: float64
the dwell time traffic for Product    Pellets
Name: 2, dtype: object is:- Traffic    0.428571
Name: 2, dtype: float64
the dwell time traffic for Product    Cement
Name: 3, dtype: object is:- Traffic    0.514286
Name: 3, dtype: float64

# No. of silos requied for each traffic

In [49]:
nnn = math.ceil(lll/jjj)
print('the no.of silos required for {}:-' .format(export_df['Product'].iloc[1]), nnn)
ooo = math.ceil(mmm/jjj)
print('the no. of silos required for {}:-' .format(export_df['Product'].iloc[2]), ooo)

the no.of silos required for Product    Pellets
Name: 2, dtype: object:- 3
the no. of silos required for Product    Cement
Name: 3, dtype: object:- 3

# Shaded storage made for steel product

In [51]:
ppp = int(input('The number of coils in one column:-'))
qqq = int(input('The number of rows:-'))
rrr = int(input('the number of roll at top'))
sss = int(input('weigh of one steel coil'))
ttt = (ppp*qqq*rrr*sss)
print('The total weight of one stck:-' , ttt)

The number of coils in one column:-3
The number of rows:-20
the number of roll at top2
weigh of one steel coil30
The total weight of one stck:- 3600

# No. of stacks required

In [54]:
uuu = math.ceil((kkk*1000000/ttt))
print('the number of stacks required:-' , uuu)

the number of stacks required:- 120

# no. of Berths required

In [58]:
df1 = pd.read_csv(r'C:\Users\DEBARGHA SEN\Desktop\ROYAL HUSKONING\PLANNING\export mesures.csv')

In [59]:
df1.head()

         product  capacity
0  steel product    5.1977
1        peletts   12.1995
2         cement    5.3527

In [61]:
vvv = math.ceil((export_df['Traffic'].iloc[0])/df1['capacity'].iloc[0])
print('The no.of berth required for {}'.format(export_df['Product'].iloc[0]) , vvv)
www = math.ceil((export_df['Traffic'].iloc[1])/df1['capacity'].iloc[1])
print('The no.of berth required for {}'.format(export_df['Product'].iloc[1]) , www)
xxx = math.ceil((export_df['Traffic'].iloc[2])/df1['capacity'].iloc[2])
print('The no.of berth required for {}'.format(export_df['Product'].iloc[2]) , xxx)

The no.of berth required for Product    Finished Steel Products
Name: 1, dtype: object 2
The no.of berth required for Product    Pellets
Name: 2, dtype: object 1
The no.of berth required for Product    Cement
Name: 3, dtype: object 2